.mole {
  width: 29%;
  height: 29%;
  background-color: var(--primary-color);
  flex: 0 0 auto;
  margin: 2%;
  border-radius: 2vmin;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.activeMole {
  background-color: var(--accent-color);
}
