.mole {
  width: 30%;
  height: 30%;
  background-color: var(--primary-color);
  flex: 0 0 auto;
  border-radius: 0.5rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.activeMole {
  background-color: var(--accent-color);
}
